#notice {
  position: fixed;
  top: 7vh;
  right: calc(0px + 3vw);
  z-index: 10;
}
#notice .container {
  width: 23vw;
  position: relative;
  margin-bottom: 10px;
  background-color: var(--ora);
  border-radius: 0 0 15px 15px;
  padding: 15px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--whi);
  font-size: 20px;
  animation: popup;
  animation-duration: 0.8s;
  font-family: "Dosis", sans-serif;
  /* display: none; */
}
#notice .slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: var(--whi);
}
#notice .fade {
  animation: fade;
  animation-duration: 0.8s;
}
#notice .slide {
  animation: slide;
  animation-duration: 2.6s;
  animation-delay: 0.8s;
}

#notice .cart-adding,
#notice .favor-adding,
#notice .favor-removing,
#notice .cart-removing,
#notice .order-removing {
  /* display: none; */
}

#notice .cart-adding i,
#notice .favor-adding i,
#notice .favor-removing i,
#notice .cart-removing i,
#notice .order-removing i {
  font-size: 25px;
  margin-right: 5px;
}

@keyframes popup {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 1;
    transform: translateX(0px);
  }

  to {
    opacity: 0;
    transform: translateX(100%);
  }
}
@keyframes slide {
  from {
    width: 100%;
  }

  to {
    width: 0;
  }
}
